@import '../config/Colors.css';


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:65px;
    background-color: blue;
}

.activity{
    padding-left: 10px;
}

.logout {
    background-color: var(--white);
    height:30px;
    margin:15px;
    width: 60px;
    color: var(--black);
    position: fixed;
    right:5px;
    top: 5px;
}