@import '../config/Colors.css';


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:65px;
    background-color: blue;
}

.activity{
    padding-left: 10px;
}