@import './app/config/Colors.css';

#root {
  background-color:var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  width: 350px;
  flex-direction: column;
}

