
:root {
  --primary:blue;
  --secondary:lightblue;
  --danger:red;
  --white:white;
  --black:black;
  --background:grey;
}

#root {
  background-color:var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  background-color: pink;
  border-style:solid;
  border-color: black;
}
